data/workflow.json
[
    {
        "createdAt": "2025-04-15T18:35:04.531Z",
        "updatedAt": "2025-04-22T12:26:07.000Z",
        "id": "8NIxo7bFKcXClySz",
        "name": "Demo: My first AI Agent in n8n",
        "active": true,
        "nodes": [
            {
                "parameters": {
                    "promptType": "define",
                    "text": "={{ $json.body.chatInput }}",
                    "options": {
                        "systemMessage": "=You're a helpful assistant that helps the user answer questions about books and latest news from Hacking News Website.\nYou are provided with two tools that make HTTP GET requests to a FastAPI backend for the info you need.\nToday is {{ $now.format('cccc') }} the {{ $now.format('yyyy-MM-dd HH:mm') }}."
                    }
                },
                "id": "29963449-1dc1-487d-96f2-7ff0a5c3cd97",
                "name": "AI Agent",
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 1.7,
                "position": [
                    200,
                    40
                ]
            },
            {
                "parameters": {
                    "modelName": "models/gemini-2.0-flash",
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
                "typeVersion": 1,
                "position": [
                    60,
                    260
                ],
                "id": "959fdc20-ccce-45cc-b5a1-2bf13b9c41f8",
                "name": "Google Gemini Chat Model",
                "credentials": {
                    "googlePalmApi": {
                        "id": "FwwiKns7zyFFREGu",
                        "name": "Google Gemini(PaLM) Api account"
                    }
                }
            },
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "/ask",
                    "responseMode": "responseNode",
                    "options": {
                        "allowedOrigins": "*"
                    }
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    -60,
                    40
                ],
                "id": "ae0243c8-fd8b-43d1-b471-af97beda1b31",
                "name": "Webhook",
                "webhookId": "24634137-1a1e-4cf9-950d-3ceb34d34ab0"
            },
            {
                "parameters": {
                    "options": {}
                },
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    580,
                    40
                ],
                "id": "8c4e7c1b-c3cc-4847-8b74-93741aff2e48",
                "name": "Respond to Webhook",
                "alwaysOutputData": true
            },
            {
                "parameters": {
                    "sessionIdType": "customKey",
                    "sessionKey": "={{ $json.body.sessionId }}"
                },
                "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
                "typeVersion": 1.3,
                "position": [
                    300,
                    260
                ],
                "id": "ba44b93d-74de-4d0e-aa20-b8c01a2d5e67",
                "name": "Simple Memory"
            },
            {
                "parameters": {
                    "operation": "keys",
                    "keyPattern": "book:*"
                },
                "type": "n8n-nodes-base.redisTool",
                "typeVersion": 1,
                "position": [
                    600,
                    520
                ],
                "id": "14ba932c-681c-4b34-8a34-eddec80adf0b",
                "name": "Redis1",
                "credentials": {
                    "redis": {
                        "id": "gSeAOvIoXk4hsGRE",
                        "name": "Redis account"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "// Extract all book objects from Redis response\nconst books = Object.values($input.all()[0].json)\n  .map(bookJson => {\n    try {\n      return JSON.parse(bookJson); // Parse stringified JSON\n    } catch (e) {\n      console.log('Failed to parse:', bookJson);\n      return null;\n    }\n  })\n  .filter(book => book !== null); // Remove invalid entries\n\nreturn books.map(book => ({ json: book }));"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    300,
                    520
                ],
                "id": "49cafb3f-a396-4f86-b081-e44bec94f114",
                "name": "Code"
            },
            {
                "parameters": {
                    "operation": "keys",
                    "keyPattern": "book:*"
                },
                "type": "n8n-nodes-base.redis",
                "typeVersion": 1,
                "position": [
                    140,
                    520
                ],
                "id": "e7c40f6f-2b4d-44f1-9aa9-a347962dc2e1",
                "name": "Redis",
                "credentials": {
                    "redis": {
                        "id": "gSeAOvIoXk4hsGRE",
                        "name": "Redis account"
                    }
                }
            },
            {
                "parameters": {
                    "toolDescription": "Get the latest tech news on Hacker News website",
                    "url": "http://recruiter-dev-backend:7013/api/v1/headlines"
                },
                "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
                "typeVersion": 1.1,
                "position": [
                    480,
                    260
                ],
                "id": "8777a85d-95e1-4c83-8e7d-cba350be2aa9",
                "name": "HTTP Request Headlines"
            },
            {
                "parameters": {
                    "toolDescription": "Get information about books by given parameters",
                    "url": "http://recruiter-dev-backend:7013/api/v1/books",
                    "sendQuery": true,
                    "parametersQuery": {
                        "values": [
                            {
                                "name": "title",
                                "valueProvider": "modelOptional"
                            },
                            {
                                "name": "category",
                                "valueProvider": "modelOptional"
                            }
                        ]
                    }
                },
                "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
                "typeVersion": 1.1,
                "position": [
                    760,
                    260
                ],
                "id": "f70945fa-c5d2-409a-b688-03deb6b7a86b",
                "name": "HTTP Request Search Books"
            },
            {
                "parameters": {
                    "toolDescription": "Get information about books",
                    "url": "http://recruiter-dev-backend:7013/api/v1/books"
                },
                "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
                "typeVersion": 1.1,
                "position": [
                    620,
                    260
                ],
                "id": "c5f6c299-8ef0-4513-8ea5-d3738160519e",
                "name": "HTTP Request Get Books"
            }
        ],
        "connections": {
            "Google Gemini Chat Model": {
                "ai_languageModel": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "AI Agent": {
                "main": [
                    [
                        {
                            "node": "Respond to Webhook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Simple Memory": {
                "ai_memory": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_memory",
                            "index": 0
                        }
                    ]
                ]
            },
            "Redis1": {
                "ai_tool": [
                    []
                ]
            },
            "Redis": {
                "main": [
                    [
                        {
                            "node": "Code",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "HTTP Request Headlines": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "HTTP Request Get Books": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "HTTP Request Search Books": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "settings": {
            "executionOrder": "v1"
        },
        "staticData": null,
        "meta": {
            "templateId": "PT1i+zU92Ii5O2XCObkhfHJR5h9rNJTpiCIkYJk9jHU=",
            "templateCredsSetupCompleted": true,
            "instanceId": "eb8f04a571202fec4a8aee7966783b4403f1935be24ac8f128024d0d5dbbf6b9"
        },
        "pinData": {},
        "versionId": "b2482d6f-a941-4121-9429-86a8f1e5a589",
        "triggerCount": 1,
        "tags": []
    }
]